You have an empty sequence, and you will be given
queries. Each query is one of these three types:

1 x  -Push the element x into the stack.

2    -Delete the element present at the top of the stack.

3    -Print the maximum element in the stack.

In [4]:
print("Enter the number of operations: ")
n = int(input())
stack = []
most = []

for i in range(n):
  print("Enter the query: ")
  
  data = input().split()
  x = int(data[0])
  v = 0

  if len(data) > 1:
    v = int(data[1])
  
  if x == 1:
    stack.append(v)
    print("Pushed the element ", v, " into the stack.")
    if (not most) or (most[-1]) <= v:
        most.append(v)
  
  elif x == 2:
    v = stack.pop()
    print("Popped the topmost element ", v, " from the stack")
    if most[-1] == v:
      most.pop()
  
  else:
    print("The max value in the stack is: ", most[-1])

Enter the number of operations:
10
Enter the query:
1 97
Pushed the element  97  into the stack.
Enter the query:
2
Popped the topmost element  97  from the stack
Enter the query:
1 20
Pushed the element  20  into the stack.
Enter the query:
2
Popped the topmost element  20  from the stack
Enter the query:
1 26
Pushed the element  26  into the stack.
Enter the query:
1 20
Pushed the element  20  into the stack.
Enter the query:
2
Popped the topmost element  20  from the stack
Enter the query:
3
The max value in the stack is:  26
Enter the query:
1 91
Pushed the element  91  into the stack.
Enter the query:
3
The max value in the stack is:  91